* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: "font-en";
    src: url(assets/fonts/cuyabra.otf);
}
// --------------------------------
//-------- [ Start Components ] --------
// --------------------------------



//-------- [ End Components ] --------

// --------------------------------
//-------- [ Start Fonts ] --------
// --------------------------------


//-------- [ End Fonts ] --------

// --------------------------------
//-------- [ Start Pages ] --------
// --------------------------------



//-------- [ End Pages ] --------

// --------------------------------
//-------- [ Start Global ] --------
// --------------------------------

* {
    box-sizing: border-box;
}
body {
    height: 100%;
    position: relative;
    direction: rtl;
    text-align: right;
    overflow-x: hidden;
    font-family: 'cairo', sans-serif;
    font-family: "font-en";
}
.row {
    overflow: hidden;
}
.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}
.content {
    color: #000;
}
// .container {
//     @media (min-width: 300px) {
//         max-width: 100%;
//     }
//     @media (min-width: 1440px) {
//         max-width: 1440px;
//     }
// }
.row-inside-row {
    margin-right: -8px;
    margin-left: -8px;
}
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-6,
.col-md-3,
.col-md-4,
.col-md-8,
.col-md-9 {
    padding-right: 8px;
    padding-left: 8px;
}

.list-unstyled {
    padding: 0;
}

// General
.dark {
    .light-theme {
        display: block;
    }
    .dark-theme {
        display: none;
    }
}
.dark-mode {
    overflow: hidden;
}
.light-theme {
    display: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    height: 100vh;
    direction: ltr;
    text-align: left;
    .hello-h1 {
        text-align: center;
        color: #39651e;
        font-weight: 600;
    }
    h3 {
        text-align: center;
        font-weight: 600;
    }
    .eq-box {
        border: 2px solid #39651e;
        padding: 10px 20px;
        display: table;
        text-align: center;
        margin: auto;
        margin-top: 15px;
        width: 600px;
        span {
            margin: 0 3px;
            font-weight: 600;
            font-size: 2rem;
        }
    }
    .equ-note {
        font-weight: 600;
        font-size: 1.1rem;
        width: 600px;
        text-align: right;
        display: block;
        margin: 10px auto;
    }
    img {
        max-width: 100%;
        height: 185px;
        text-align: center;
        margin: auto;
        display: flex;
    }
    .active-span {
        color: #cf2a27;
    }
    .gray-span {
        color: #7b7a83;
    }
    .green-span {
        color: #62914e;
    }
    .yellow-span {
        color: #e99238;
    }
    .lower-equ {
        margin-top: 75px;
        .lower-equ-line-img {
            max-width: 100%;
            height: auto;
            border-radius: 6px;
            border: 2px solid #000;
        }
        .input-line {
            text-align: center;
            margin-top: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                font-size: 2.25rem;
                font-weight: 600;
                margin: 0 5px;
            }
            input {
                border: 2px solid #000;
                height: 50px;
                width: 150px;
                margin-right: 5px;
                border-radius: 4px;
                margin-top: 4px;
                padding: 10px 15px;
                font-weight: 600;
                font-size: 2.25rem;
            }
        }
    }
    .lower-equ-line-header {
        font-size: 1.75rem;
        font-weight: 600;
    }
    .lower-equ-line {

        .info-icon {
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
            svg {
                height: 40px;
                width: 40px;
                fill: #cf2a27;
            }
        }
    }
    .pagnition {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 95%;
        .pagnition-btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .pagnition-btn {
                display: flex;
                align-items: center;
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: 600;
                background: #b5d6a7;
                color: #000;
                padding: 5px 12px;
                margin-bottom: 15px;
                border-radius: 2px;
                border: 2px solid #000;
                svg {
                    height: 25px;
                    width: 25px;
                    fill: #000;
                }
            }
            .next-btn {
                padding-right: 10px;
                cursor: pointer;
                svg {
                    margin-right: 10px;
                }
            }
            .back-btn {
                padding-left: 10px;
                cursor: pointer;
                svg {
                    margin-left: 10px;
                }
            }
        }
    }
    .progress-bar {
        width: 100%;
        background: #FFF;
        border: 3px solid #000;
        height: 20px;
        .inner-progress {
            background: #CCC;
            height: 20px;
        }
    }
    .lower-header {
        margin-top: 100px;
        text-align: center;
        p {
            text-align: center;
            font-weight: 600;
            font-size: 1.2rem;
            color: #39651e;
        }
        a {
            text-align: center;
            background: #b5d6a7;
            color: #000;
            font-size: 1.2rem;
            font-weight: 600;
            padding: 10px 50px;
            border-top: 2px solid #000;
            border-right: 5px solid #000;
            border-bottom: 5px solid #000;
            border-left: 2px solid #000;
            margin-top: 25px;
            display: inline-block;
            text-decoration: none;
        }
    }
}

.radio_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    border-right: 2px solid #000;
    border-bottom: 3px solid #000;
    height: 50px;
    box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15);
}

input[type="radio"] {
    appearance: none;
    display: none;
}

label {
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    height: 50px;
    text-align: center;
    overflow: hidden;
    transition: linear 0.3s;
    color: #000;
    border: 1px solid #000;
    margin-bottom: 0;
    padding: 0 20px;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #b5d6a7;
    color: #000;
    font-weight: 900;
    transition: 0.3s;
}
.lower-equ-line-radio {
    .input-line {
        text-align: left !important;
        justify-content: start !important;
        span {
            font-size: 1.2rem !important;
        }
    }
}


.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    padding: 25px;
    border: 2px solid #000;
    opacity: 0;
    visibility: hidden;
    background-color: #FFF;
    transition: all 0.4s ease-in-out;
    font-size: 1.3rem;
    font-weight: 600;
    span {
        margin-bottom: 15px;
        display: block;
    }
}
.popup-pagination {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    padding: 25px;
    border: 2px solid #000;
    opacity: 0;
    visibility: hidden;
    background-color: #FFF;
    transition: all 0.4s ease-in-out;
    font-size: 1.3rem;
    font-weight: 600;
    direction: ltr;
    span {
        margin-bottom: 15px;
        display: block;
    }
    .input-line {
        text-align: center;
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-size: 2.25rem;
            font-weight: 600;
            margin: 0 5px;
        }
        label {
            transition: all 0.3s ease-in-out;
            &:hover {
                background: #b5d6a7;
            }
        }
        a {
            text-decoration: none;
            color: #000;
        }
    }
}


.close-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(22, 22, 34, 0.6);
    z-index: 10;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.open-popup {
    opacity: 1;
    visibility: visible;
}

.upper-page-header {
    font-size: 1.5rem;
    color: #575757;
    font-weight: 700 !important;
    text-align: left !important;
    margin: 0 20px 15px 20px;
}
.summary-part {
    padding: 25px;
    border: 2px solid #575757;
    margin: 0 25px;
    min-height: 1000px;
}
.summary-header {
    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
    }
    p {
        font-size: 0.9rem;
        margin: 0;
        color: #575757;
        font-weight: 700;
    }
    span {
        color: #575757;
        font-size: 0.8rem;
        font-weight: 700;
    }
    img {
        max-width: 100%;
        height:75px;
    }
}
.table-header {
    background-color: #adadad;
    padding: 10px 10px;
    margin-top: 15px;
    span {
        padding: 0 5px;
        font-weight: 600;
    }
}
.table-content-line {
    background-color: #fafafa;
    padding: 10px 10px;
    span {
        padding: 0 5px;
        font-weight: 600;
        display: block;
    }
}
.table-content-line:nth-of-type(even) {
    background-color: #FFF;
}
.summary-text-content {
    background-color: #d7d7d7;
    padding: 25px;
    p {
        font-weight: 600;
        margin-bottom: 0;
        font-size: 0.9rem;
    }
    ul {
        padding-left: 20px;
        li {
            font-weight: 600;
            margin: 10px 0;
            font-size: 0.9rem;
        }
    }
}
.content-summary {
    display: block !important;
    padding: 20px 0 !important;
    height: auto !important;
}

// Results Pages
.result-text {
    font-size: 2.2rem;
    font-weight: 700;
    padding: 10px 35px;
    border: 2px solid #000;
    background: #b6d7a8;
    display: table;
    margin: 0 auto 15px auto;
    text-align: center;
}
.result-text-danger {
    font-size: 2.2rem;
    font-weight: 700;
    padding: 10px 35px;
    border: 2px solid #000;
    background: #cf2a27;
    display: table;
    margin: 0 auto 15px auto;
    text-align: center;
    color: #FFF;
}
.font-900 {
    font-weight: 900;
}
.result-content {
    .result-content-part {
        .result-text {
            font-size: 1.75rem;
            padding: 7px 25px;
            margin: 25px auto 15px auto;
        }
        .result-content-info {
            border: 2px solid #000;
            padding: 50px 35px;
            font-size: 1.2rem;
            font-weight: 500;
            min-height: 250px;
            height: 250px;
            overflow-x: auto;
            ul {
                padding-left: 15px;
            }
            p {
                margin: 5px 0;
            }
        }
        .result-btn {
            text-align: center;
            background: #FFF;
            color: #000;
            font-size: 1.2rem;
            font-weight: 600;
            padding: 10px 50px;
            border-top: 2px solid #000;
            border-right: 5px solid #000;
            border-bottom: 5px solid #000;
            border-left: 2px solid #000;
            margin-top: 25px;
            display: inline-block;
            text-decoration: none;
            margin-left: auto;
            display: table;
        }
    }
}