<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Main Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Important Meta Tags -->
    <meta name="author" content="enote" />
    <meta name="description" content="">
    <meta name="keywords" content="" />

    <!-- Library Styles -->
    <link rel="stylesheet" href="../static/assets/scss/libs/bootstrap.min.css">

    <!-- Main Style -->
    <link rel="stylesheet" href="../static/main.css" />

    <!-- Page Title & Icon -->
    <title>Index</title>
    <link rel="shortcut icon" href="../static/assets/images/icon.png" />

</head>

<body>


    <div class="content">
        <div class="container">

            <div class="upper-header">
                <h2 class="hello-h1">Hello! Welcome to the Online NIOSH RWL Calculator!</h2>
                <img src="/static/assets/images/2081.png" alt="">
            </div>

            <div class="lower-header">
                <p>Start now by entering your parameters and empower yourself with informed lifting guidelines!</p>
                <a href="/equation1">Start</a>
            </div>

        </div>
    </div>

    <!-- Main Scripts -->
    <script src="/static/assets/js/libs/jquery-3.6.3.min.js"></script>
    <script src="/static/assets/js/libs/bootstrap.min.js"></script>
    <script src="/static/assets/js/libs/popper.js"></script>
    <script src="/static/main.js"></script>


</body>

</html>