<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Main Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Important Meta Tags -->
    <meta name="author" content="enote" />
    <meta name="description" content="">
    <meta name="keywords" content="" />

    <!-- Library Styles -->
    <link rel="stylesheet" href="../static/assets/scss/libs/bootstrap.min.css">

    <!-- Main Style -->
    <link rel="stylesheet" href="../static/main.css" />

    <!-- Page Title & Icon -->
    <title>Task Summary Report</title>
    <link rel="shortcut icon" href="../static/assets/images/icon.png" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-merge/1.3.2/pdf-merge.min.js"></script>
</head>

<body>


    <div class="content content-summary" id="content"> 
        <div class="container-fluid">

            <!-- <h3 class="upper-page-header">
                Task summary report {{res['result']}}
            </h3> -->

            <div class="row" >

                <div class="col-lg-6" id="page1">
                    <div class="summary-part">

                        <div class="summary-header text-center">
                            <h3>NIOSH RWL Website</h3>
                            <p>Task Summary Report</p>
                            <span class="date-of-now"></span>
                            <img src="../static/assets/images/01.png" alt="">
                        </div>
                            <div class="summary-header text-center my-4">
                            <h3>INPUTS & CALCULATIONS</h3>
                            </div>
                        <div class="table-header">
                            <div class="row">

                                <div class="col-lg-6">
                                    <span>User's Input Values:</span>
                                </div>

                                <div class="col-lg-6">
                                    <span>Multiplier Values</span>
                                </div>

                            </div>
                        </div>

                        <div class="table-content-line">
                            <div class="row">

                                <div class="col-lg-6">
                                    <span>Horizontal (H) = {{ user_inputs['H'] }}</span>
                                </div>

                                <div class="col-lg-6">
                                    <span>Horizontal Multiplier (HM) = {{ report['HM']|round(3) }}</span>
                                </div>

                            </div>
                        </div>

                        <div class="table-content-line">
                            <div class="row">

                                <div class="col-lg-6">
                                    <span>Vertical (V) ={{ user_inputs['V'] }}</span>
                                </div>

                                <div class="col-lg-6">
                                    <span>Vertical Multiplier (VM) = {{ report['VM']|round(3) }}</span>
                                </div>

                            </div>
                        </div>

                        <div class="table-content-line">
                            <div class="row">

                                <div class="col-lg-6">
                                    <span>Distance (D) = {{ user_inputs['D'] }}</span>
                                </div>

                                <div class="col-lg-6">
                                    <span>Distance Multiplier (DM) ={{ report['DM']|round(3) }} </span>
                                </div>

                            </div>
                        </div>

                        <div class="table-content-line">
                            <div class="row">

                                <div class="col-lg-6">
                                    <span>Asymmetry Angle (A) ={{ user_inputs['A'] }} </span>
                                </div>

                                <div class="col-lg-6">
                                    <span>Asymmetry Multiplier (AM) = {{ report['AM']|round(3) }}</span>
                                </div>

                            </div>
                        </div>

                        <div class="table-content-line">
                            <div class="row align-items-center">

                                <div class="col-lg-6">
                                    <span>Frequency (lifts/minute) = {{ user_inputs['liftingFrequency'] }}</span>
                                    <span>Work Duration (hours) ={{ user_inputs['taskDuration'] }} </span>
                                </div>

                                <div class="col-lg-6">
                                    <span>Frequency Multiplier (FM) =  {{ report['FM']|round(3) }}</span>
                                </div>

                            </div>
                        </div>

                        <div class="table-content-line">
                            <div class="row">

                                <div class="col-lg-6">
                                    <span>Coupling Type = {{ user_inputs['coupling'] }}</span>
                                </div>

                                <div class="col-lg-6">
                                    <span>Coupling Multiplier (CM) = {{ report['CM']|round(3) }}</span>
                                </div>

                            </div>
                        </div>

                        <div class="table-content-line">
                            <div class="row">

                                <div class="col-lg-6">
                                    <span>Actual Weight ={{ user_inputs['weight'] }} </span>
                                </div>

                                <div class="col-lg-6">
                                    <span></span>
                                </div>

                            </div>
                        </div>

                        <div class="summary-header text-center my-4">
                            <h3>RESULTS</h3>
                        </div>
                        {%if res['cases']==1%}
                        <div class="summary-text-content">
                            <p>Due to the RWL being calculated as {{ report['RWL']|round(2) }}, the Load Index (LI) <span
                                    class="active-span">cannot be determined</span>. Please review the recommendations provided to adjust the lifting
                                task for safer conditions.
                            </p>
                        </div>
                       {%else%}
                        <div class="table-content-line">
                            <div class="row">

                                <div class="col-lg-6">
                                    <span>Lifting Index (LI) : {{ report['LI']|round(2) }}</span>
                                </div>

                                <div class="col-lg-6">
                                    <span></span>
                                </div>

                            </div>
                        </div>

                        <div class="table-content-line">
                            <div class="row">

                                <div class="col-lg-6">
                                    <span>Recommended Weight Limit (RWL) : {{ report['RWL'] }}</span>
                                </div>

                                <div class="col-lg-6">
                                    <span></span>
                                </div>

                            </div>
                        </div>

                        <div class="table-content-line">
                            <div class="row">

                                <div class="col-lg-6">
                                    <span>Task Safety :{{ res['result'] }}</span>
                                </div>

                                <div class="col-lg-6">
                                    <span></span>
                                </div>

                            </div>
                        </div>

                        <div class="table-content-line">
                            <div class="row">

                                <div class="col-lg-6">
                                    <span>Risk Implication :{{res['risk']}}</span>
                                </div>

                                <div class="col-lg-6">
                                    <span></span>
                                </div>

                            </div>
                        </div>
                        {%endif%}
                        
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="summary-part">

                        <div class="summary-header text-center">
                            <h3>NIOSH RWL Website</h3>
                            <p>Task Summary Report</p>
                            <span class="date-of-now"></span>
                            <img src="../static/assets/images/01.png" alt="">
                        </div>

                        
                        {% if  res['risk'] == "cannot be determined" %}

                            <div class="summary-header text-center my-4">
                            <h3>RECOMMENDATIONS</h3>
                        </div>

                        <div class="summary-text-content">

                                <p class="font-900">Some parameter values have
                                    exceeded acceptable ranges, resulting
                                    in an RWL of 0. To ensure safe lifting
                                    conditions, please consider the
                                    following recommendations for
                                    adjusting parameter values:</p>
                                <ul class="font-900 mt-4">

                                    <li>For <span class="active-span">HM</span>: Adjust the horizontal location of the load
                                                    (H) to be below 63 cm.</li>

                                                <li>For <span class="active-span">VM</span>: Ensure the vertical location of the load
                                                    (V) is below 175 cm.</li>

                                                <li>For <span class="active-span">DM</span>: Ensure the distance of the lift (D) is
                                                    below 175 cm.
                                                </li>

                                                <li>For <span class="active-span">AM</span>: Adjust the asymmetry angle of the lift (A)
                                                    to be below 135°.
                                                </li>

                                                <li>For <span class="active-span">FM</span>: Avoid excessive frequency of lifts and
                                                    consider adjusting the
                                                    work duration to ensure safer lifting practices.
                                                </li>



                                </ul>
                            </div>


                                {% elif res['risk'] == "very Low"  %}
                                <div class="summary-header text-center my-4">
                            <h3>RECOMMENDATIONS</h3>
                        </div>

                        <div class="summary-text-content">
                                        <p class="font-900">BASED ON THE PARAMETERS PROVIDED, IT CAN BE CONFIDENTLY STATED THAT
                                            THE LIFTING TASK
                                            MEETS THE SAFETY STANDARDS OF NIOSH, AND IS CONSIDERED <span
                                                class="green-span">SAFE</span></p>
                                    </div>
                                {% elif res['risk'] == "Low" %}

                                <div class="summary-header text-center my-4">
                                <h3>RECOMMENDATIONS</h3>
                                </div>

                                <div class="summary-text-content">
                                        <ul class="font-900">
                                            <li>For the Horizontal Location of the Load (<span
                                                                class="active-span">HM</span> ): Reduce the distance between the body and the load. Keeping the load close to the body during the lift decreases back strain and improves stability.
                                                        </li>
                                                        <li>For the Vertical Location of the Load Relative to the Floor (<span
                                                                class="active-span">VM</span>): Adjust the starting height of the load to be between knee and waist level. Lifting aids or adjustments to the setup should be used to avoid lifting from floor level or above shoulder height. Additionally, consider setting the object height close to the ideal value of 75 cm to simultaneously increase VM and DM.
                                                        </li>
                                                        <li>For the Vertical Travel Distance of the Load (<span
                                                                class="active-span">DM</span>): Minimize the vertical distance the load needs to be moved. Avoid lifting or lowering the load more than necessary by rearranging storage or work practices.
                                                        </li>
                                                        <li> For the Asymmetry Angle of the Lift (<span
                                                                class="active-span">AM</span>): Reduce twisting and turning during lifting, aiming to minimize or eliminate them if possible. Additionally, strive to decrease the angle of twisting to approach the ideal angle of 0 degrees for improved ergonomics and lifting safety.
                                                        </li>
                                                        <li>For the Frequency and Duration of Lifting Activity ( <span
                                                                class="active-span">FM</span> ): FM can be
                                                            increased by decreasing the number of lifts per minute (frequency),
                                                            ensuring adequate rest breaks between lifting tasks, and rotating
                                                            workers to reduce task duration.
                                                        </li>
                                                        <li> For the Coupling or Quality of the Worker's Grip on the Load (<span
                                                                class="active-span">CM</span>): Improve the grip on the load by using handles or straps, where possible. The object to be lifted should be stable and easily graspable to reduce the risk of slips and drops.
                                                        </li>
                                                        <li>Reducing the actual weight of the load could align with safer lifting parameters.
                                                        </li>
                                        </ul>
                                    </div>
                                        {% elif res['risk'] == 'Moderate' %}
                                        <div class="summary-header text-center my-4">
                                            <h3>RECOMMENDATIONS</h3>
                                            </div>

                                            <div class="summary-text-content">
                                                <ul class="font-900">
            
                                                <li>For the Horizontal Location of the Load (<span
                                                                class="active-span">HM</span> ): Reduce the distance between the body and the load. Keeping the load close to the body during the lift decreases back strain and improves stability.
                                                        </li>
                                                        <li>For the Vertical Location of the Load Relative to the Floor (<span
                                                                class="active-span">VM</span>): Adjust the starting height of the load to be between knee and waist level. Lifting aids or adjustments to the setup should be used to avoid lifting from floor level or above shoulder height. Additionally, consider setting the object height close to the ideal value of 75 cm to simultaneously increase VM and DM.
                                                        </li>
                                                        <li>For the Vertical Travel Distance of the Load (<span
                                                                class="active-span">DM</span>): Minimize the vertical distance the load needs to be moved. Avoid lifting or lowering the load more than necessary by rearranging storage or work practices.
                                                        </li>
                                                        <li> For the Asymmetry Angle of the Lift (<span
                                                                class="active-span">AM</span>): Reduce twisting and turning during lifting, aiming to minimize or eliminate them if possible. Additionally, strive to decrease the angle of twisting to approach the ideal angle of 0 degrees for improved ergonomics and lifting safety.
                                                        </li>
                                                        <li>For the Frequency and Duration of Lifting Activity ( <span
                                                                class="active-span">FM</span> ): FM can be
                                                            increased by decreasing the number of lifts per minute (frequency),
                                                            ensuring adequate rest breaks between lifting tasks, and rotating
                                                            workers to reduce task duration.
                                                        </li>
                                                        <li> For the Coupling or Quality of the Worker's Grip on the Load (<span
                                                                class="active-span">CM</span>): Improve the grip on the load by using handles or straps, where possible. The object to be lifted should be stable and easily graspable to reduce the risk of slips and drops.
                                                        </li>
                                                        <li>Reducing the actual weight of the load could align with safer lifting parameters.
                                                        </li>
                                            </ul>
                                        </div>
                                                {% elif res['risk'] == 'High' %}
                                                <div class="result-content-info">
                                                    <ul class="font-900">
                    
                                                        <li>For the Horizontal Location of the Load (<span
                                                                class="active-span">HM</span> ): Reduce the distance between the body and the load. Keeping the load close to the body during the lift decreases back strain and improves stability.
                                                        </li>
                                                        <li>For the Vertical Location of the Load Relative to the Floor (<span
                                                                class="active-span">VM</span>): Adjust the starting height of the load to be between knee and waist level. Lifting aids or adjustments to the setup should be used to avoid lifting from floor level or above shoulder height. Additionally, consider setting the object height close to the ideal value of 75 cm to simultaneously increase VM and DM.
                                                        </li>
                                                        <li>For the Vertical Travel Distance of the Load (<span
                                                                class="active-span">DM</span>): Minimize the vertical distance the load needs to be moved. Avoid lifting or lowering the load more than necessary by rearranging storage or work practices.
                                                        </li>
                                                        <li> For the Asymmetry Angle of the Lift (<span
                                                                class="active-span">AM</span>): Reduce twisting and turning during lifting, aiming to minimize or eliminate them if possible. Additionally, strive to decrease the angle of twisting to approach the ideal angle of 0 degrees for improved ergonomics and lifting safety.
                                                        </li>
                                                        <li>For the Frequency and Duration of Lifting Activity ( <span
                                                                class="active-span">FM</span> ): FM can be
                                                            increased by decreasing the number of lifts per minute (frequency),
                                                            ensuring adequate rest breaks between lifting tasks, and rotating
                                                            workers to reduce task duration.
                                                        </li>
                                                        <li> For the Coupling or Quality of the Worker's Grip on the Load (<span
                                                                class="active-span">CM</span>): Improve the grip on the load by using handles or straps, where possible. The object to be lifted should be stable and easily graspable to reduce the risk of slips and drops.
                                                        </li>
                                                        <li>Reducing the actual weight of the load could align with safer lifting parameters.
                                                        </li>
                                                    </ul>
                                                </div>
                                        {% elif res['risk'] == 'Very High' %}
                                        <div class="summary-header text-center my-4">
                                        <h3>RECOMMENDATIONS</h3>
                                        </div>

                                            <div class="summary-text-content">
                                                <ul class="font-900">
            
                                               <li>For the Horizontal Location of the Load (<span
                                                                class="active-span">HM</span> ): Reduce the distance between the body and the load. Keeping the load close to the body during the lift decreases back strain and improves stability.
                                                        </li>
                                                        <li>For the Vertical Location of the Load Relative to the Floor (<span
                                                                class="active-span">VM</span>): Adjust the starting height of the load to be between knee and waist level. Lifting aids or adjustments to the setup should be used to avoid lifting from floor level or above shoulder height. Additionally, consider setting the object height close to the ideal value of 75 cm to simultaneously increase VM and DM.
                                                        </li>
                                                        <li>For the Vertical Travel Distance of the Load (<span
                                                                class="active-span">DM</span>): Minimize the vertical distance the load needs to be moved. Avoid lifting or lowering the load more than necessary by rearranging storage or work practices.
                                                        </li>
                                                        <li> For the Asymmetry Angle of the Lift (<span
                                                                class="active-span">AM</span>): Reduce twisting and turning during lifting, aiming to minimize or eliminate them if possible. Additionally, strive to decrease the angle of twisting to approach the ideal angle of 0 degrees for improved ergonomics and lifting safety.
                                                        </li>
                                                        <li>For the Frequency and Duration of Lifting Activity ( <span
                                                                class="active-span">FM</span> ): FM can be
                                                            increased by decreasing the number of lifts per minute (frequency),
                                                            ensuring adequate rest breaks between lifting tasks, and rotating
                                                            workers to reduce task duration.
                                                        </li>
                                                        <li> For the Coupling or Quality of the Worker's Grip on the Load (<span
                                                                class="active-span">CM</span>): Improve the grip on the load by using handles or straps, where possible. The object to be lifted should be stable and easily graspable to reduce the risk of slips and drops.
                                                        </li>
                                                        <li>Reducing the actual weight of the load could align with safer lifting parameters.
                                                        </li>
            
                                            </ul>
                                        </div>
                                        {%else%}

                                        <div class="summary-text-content">
                                            <p>Some parameter values have exceeded acceptable ranges, resulting in an
                                                RWL of 0. To ensure safe lifting conditions, please consider the following
                                                recommendations for adjusting parameter values:
                                            </p>
                                            <ul>
                
                                                <li>For <span class="active-span">HM</span>: Adjust the horizontal location of the load
                                                    (H) to be below 63 cm.</li>
                
                                                <li>For <span class="active-span">VM</span>: Ensure the vertical location of the load
                                                    (V) is below 175 cm.</li>
                
                                                <li>For <span class="active-span">DM</span>: Ensure the distance of the lift (D) is
                                                    below 175 cm.
                                                </li>
                
                                                <li>For <span class="active-span">AM</span>: Adjust the asymmetry angle of the lift (A)
                                                    to be below 135°.
                                                </li>
                
                                                <li>For <span class="active-span">FM</span>: Avoid excessive frequency of lifts and
                                                    consider adjusting the
                                                    work duration to ensure safer lifting practices.
                                                </li>
                
                
                                            </ul>
                                        </div>
                                        
                                            {% endif %}
                            <div class="col-lg-6">
                                
                                
                                <div class="result-content-part">
                                    <!-- Export to PDF button -->
                                    <button style="display: none;" class="btn btn-primary"  id="download-pdf">Export to PDF</button>
                                </div>
                            </div>
                            
                    </div>
                    
                    
                   

                    
            </div>
            
            </div>
            
        </div>
    </div>

    <!-- Main Scripts -->
    <script src="../static/assets/js/libs/jquery-3.6.3.min.js"></script>
    <script src="../static/assets/js/libs/bootstrap.min.js"></script>
    <script src="../static/assets/js/libs/popper.js"></script>
    <script src="../static/main.js"></script>

    <script>
        // Function to generate and download the PDF
        function generatePDF() {
            const element = document.getElementById('content');

            // Adjusting the scale for fitting the content
            const options = {
                filename: 'page.pdf', // Name of the PDF file
                image: { type: 'jpeg', quality: 0.98 }, // Image options
                html2canvas: { scale: 10 }, // html2canvas options
                jsPDF: { unit: 'mm', format: 'ledger', orientation: 'landscape' }// jsPDF options
            };

            // Use html2pdf to generate PDF
            html2pdf()
                .from(element)
                .set(options)
                .save();
        }

        // Automatically trigger the PDF generation when the page loads
        document.addEventListener('DOMContentLoaded', function() {
            generatePDF();
        });
    </script>
</body>

</html>