<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Main Meta Tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Important Meta Tags -->
    <meta name="author" content="enote" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Library Styles -->
    <link rel="stylesheet" href="../static/assets/scss/libs/bootstrap.min.css" />

    <!-- Main Style -->
    <link rel="stylesheet" href="../static/main.css" />

    <!-- Page Title & Icon -->
    <title>Equation 6</title>
    <link rel="shortcut icon" href="../static/assets/images/icon.png" />
    <script>
      function submitForm() {
          document.getElementById("equationForm").submit();
      }
  </script>
  </head>

  <body>
    <div class="content">
      <div class="container">
        <div class="upper-equ">
          <h3 class="">The NIOSH RWL Formula:</h3>
          <div class="eq-box">
            <span>RWL</span>
            <span>=</span>
            <span>LC</span>
            <span>x</span>
            <span>HM</span>
            <span>x</span>
            <span>VM</span>
            <span>x</span>
            <span>DM</span>
            <span>x</span>
            <span>AM</span>
            <span>x</span>
            <span>FM</span>
            <span>x</span>
            <span class="active-span">CM</span>
          </div>
          <span class="equ-note">( LC is always 23 kg)</span>
        </div>
        {% if error %}
        <div class="container mt-5">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error:</strong>{{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
                   
                {% endif %}
        <div class="lower-equ">
          <div class="row">
            <div class="col-lg-8">
              <div class="lower-equ-line lower-equ-line-radio">
                <h4 class="lower-equ-line-header">
                  To Calculate the
                  <span class="active-span">Coupling Multiplier</span> ( CM ),
                  insert C :
                </h4>

                <form id="equationForm" action="{{ url_for('equation6') }}" method="post">
                  <div class="input-line">
                    <span for="coupling">Coupling Type</span>
                    <span>=</span>
                    <div class="radio_container" id="coupling" name="coupling">
                      <input type="radio" name="coupling" id="good" value="Good"  required/>
                      <label for="good">Good</label>
                      <input type="radio" name="coupling" id="fair" value="Fair" required/>
                      <label for="fair">Fair</label>
                      <input type="radio" name="coupling" id="poor" value="Poor" required/>
                      <label for="poor">Poor</label>

                    </div>
                  </div>
                </form>
              </div>

              <div class="lower-equ-line">
                <div class="pagnition">
                  <div class="pagnition-btns">
                    <a href="/equation5" class="next-btn pagnition-btn">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                      >
                        <path
                          d="M4.83578 12L11.0429 18.2071L12.4571 16.7929L7.66421 12L12.4571 7.20712L11.0429 5.79291L4.83578 12ZM10.4857 12L16.6928 18.2071L18.107 16.7929L13.3141 12L18.107 7.20712L16.6928 5.79291L10.4857 12Z"
                        ></path>
                      </svg>
                      <span>BACK</span>
                    </a>

                    <div class="back-btn pagnition-btn">
                      <a onclick="submitForm()">NEXT</a>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M19.1642 12L12.9571 5.79291L11.5429 7.20712L16.3358 12L11.5429 16.7929L12.9571 18.2071L19.1642 12ZM13.5143 12L7.30722 5.79291L5.89301 7.20712L10.6859 12L5.89301 16.7929L7.30722 18.2071L13.5143 12Z"></path></svg>
                  </div>

                    
                  </div>
                  <div class="progress-bar">
                    <div class="inner-progress" style="width: calc(95%)"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
                <div class="lower-equ-line">
                    <img src="/static/assets/images/coupling.jpg" class="lower-equ-line-img" alt="">
                    <div class="info-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 15H13V17H11V15ZM13 13.3551V14H11V12.5C11 11.9477 11.4477 11.5 12 11.5C12.8284 11.5 13.5 10.8284 13.5 10C13.5 9.17157 12.8284 8.5 12 8.5C11.2723 8.5 10.6656 9.01823 10.5288 9.70577L8.56731 9.31346C8.88637 7.70919 10.302 6.5 12 6.5C13.933 6.5 15.5 8.067 15.5 10C15.5 11.5855 14.4457 12.9248 13 13.3551Z"></path></svg>
                    </div>
                </div>
            </div>
                    <path
                      d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 15H13V17H11V15ZM13 13.3551V14H11V12.5C11 11.9477 11.4477 11.5 12 11.5C12.8284 11.5 13.5 10.8284 13.5 10C13.5 9.17157 12.8284 8.5 12 8.5C11.2723 8.5 10.6656 9.01823 10.5288 9.70577L8.56731 9.31346C8.88637 7.70919 10.302 6.5 12 6.5C13.933 6.5 15.5 8.067 15.5 10C15.5 11.5855 14.4457 12.9248 13 13.3551Z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Scripts -->
    <script src="../static/assets/js/libs/jquery-3.6.3.min.js"></script>
    <script src="../static/assets/js/libs/bootstrap.min.js"></script>
    <script src="../static/assets/js/libs/popper.js"></script>
    <script src="../static/main.js"></script>

    <div class="popup text-center">
      <p>C (Coupling or Quality of the Worker's Grip on the Load): This assesses how well the load can be grasped or secured during lifting. Better grip means safer handling.</p>
    </div>
    
      
  </div>
    <div class="close-overlay"></div>
  </body>
</html>
